<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict/>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>We use speech recognition to enable voice commands for managing books and accessibility features.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need microphone access to enable voice commands for library functions like book scanning and issuing.</string>
</dict>
</plist>
